apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    {{- include "stacks-dotnet.annotations" . | nindent 8 }}
  labels:
    {{- include "stacks-dotnet.labels" . | nindent 4 }}
  name: {{ include "stacks-dotnet.fullname" . }}
  namespace: {{ .Values.namespace }}
data:
  appsettings.json: |
    {
      "Serilog": {
          "Using": [
              "Serilog.Sinks.Console",
              "Serilog.Sinks.ApplicationInsights"
          ],
          "MinimumLevel": {
              "Default": "{{ .Values.pod.loglevel }}",
              "Override": {}
          },
          "WriteTo": [
              { "Name": "Console" },
              {{- if eq .Values.cloudProvider "azure" }}
              {
                  "Name": "ApplicationInsights",
                  "Args": {
                      "telemetryConverter": "Serilog.Sinks.ApplicationInsights.Sinks.ApplicationInsights.TelemetryConverters.TraceTelemetryConverter, Serilog.Sinks.ApplicationInsights"
                  }
              }
              {{- end }}
          ],
          "Enrich": [ "FromLogContext", "WithMachineName", "WithThreadId" ],
          "Destructure": [],
          "Properties": {
              "Application": "Menu API"
          }
      },
      "AllowedHosts": "*",
      "JwtBearerAuthentication": {
          "Audience": "${jwtbearerauthentication_audience}",
          "Authority": "${jwtbearerauthentication_authority}",
          "Enabled": false,
          "OpenApi": {
              "AuthorizationUrl": "${jwtbearerauthentication_openapiauthorizationurl}",
              "ClientId": "${jwtbearerauthentication_openapiclientid}",
              "TokenUrl": "${jwtbearerauthentication_openapitokenurl}"
          }
      },
      {{- if eq .Values.cloudProvider "aws" }}
      "AWS": {
        "Region": "{{ .Values.region }}"
      },
      {{- if ne .Values.pod.snsTopicArn "" }}
      "AwsSnsConfiguration": {
        "TopicArn": {
          "Identifier": "TOPIC_ARN",
          "Source": "Environment"
        }
      },
      {{- end }}
      {{- if ne .Values.pod.dynamodbTableName "" }}
      "DynamoDb": {
        "TableName": "{{ .Values.pod.dynamodbTableName }}",
        "TablePrefix": "{{ .Values.env }}"
      },
      {{- end }}
      {{- end }}
      "TestConfig": "Test value from file",
      "Values": {
        "Items": [
          "Item A from config",
          "Item B from congig",
          "Item C from config"
        ]
      }
    }
