<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Stacks" value="https://amido-dev.pkgs.visualstudio.com/_packaging/Stacks/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <Stacks>
      <add key="Username" value="none" />
      <add key="ClearTextPassword" value="lg7s6m447ybn3q2fs7ku27bhriepoceucgpq4asdtdlw3jidumxq" />
    </Stacks>
  </packageSourceCredentials>
</configuration>
