name: air.stacks-dotnet

on:
  push:
    paths:
      - 'build/github/**'
      - 'src/**'
      - 'deploy/aws/**' # TODO: Review this as new cloud provider targets are used
      - 'deploy/helm/**'  # TODO: Review this as new cloud provider targets are used
      - '.github/workflows/ci.yml'
      - 'build/taskctl/**'
  pull_request:
    branches:
        - master
        - main

env:
  # The following SECRETS are required in your GH Repository:
  #   PACT_BEARER_TOKEN
  #   SONAR_TOKEN
  # The following SECRETS must be defined per environment (which must match environment key) in your GH Repository:
  #   AWS_ACCESS_KEY_ID
  #   AWS_ACCOUNT_ID
  #   AWS_DEFAULT_REGION
  #   AWS_SECRET_ACCESS_KEY
  #   AWS_TF_STATE_BUCKET
  #   AWS_TF_STATE_DYNAMOTABLE
  #   AWS_TF_STATE_ENCRYPTION
  #   AWS_TF_STATE_KEY
  #   AWS_TF_STATE_REGION
  CLOUD_PROVIDER: "aws"
  TaskctlVersion: '1.4.2'
  DOCKER_IMAGE_TAG: "0.1.${{ github.RUN_NUMBER }}"
  DOCKER_IMAGE_NAME: "stacks-api"
  DOCKER_REGISTRY_NAME: "${{ secrets.AWS_ACCOUNT_ID}}.dkr.ecr.eu-west-2.amazonaws.com"
  OWNER: "stacks_team"
  REGION: "eu-west-2"
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  # Helm file locations
  HELM_CHART_FILE: "deploy/helm/stacks-dotnet"
  HELM_VALUE_FILE: "deploy/helm/stacks-dotnet/values.yaml"
  # K8S Additional Deploy-Templater var substitutions
  DOCKER_REGISTRY: "${{ secrets.AWS_ACCOUNT_ID}}.dkr.ecr.eu-west-2.amazonaws.com" # (duplicates DOCKER_REGISTRY_NAME)
  K8S_APP_ROUTE: "/api/menu"
  # App Config (for both TF and K8S)
  RESOURCE_DEF_NAME: "stacks-api" # To be checked if required after refactor
  APP_NAME: "stacks-api"  # To be checked if required after refactor
  COMPANY: "ensono"
  PROJECT: "stacks"
  COMPONENT: "api"
  FUNCTIONAL_TESTS_SRC_DIR: src/tests/Functional
  FUNCTIONAL_TESTS_RUN_DIR: ${{ github.workspace }}/tests
  FUNCTIONAL_TESTS_ARTEFACT_NAME: tests
  LOG_TARGET: cloudwatch
  LOG_LEVEL: warning

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./build/github/templates/install-taskctl
      - run: taskctl lint
        env:
          TF_FILE_LOCATION: deploy/aws/app/kube

  build:
    needs: lint
    runs-on: ubuntu-latest
    environment: nonprod
    steps:
      - uses: actions/checkout@v3
      - uses: ./build/github/templates/install-taskctl
      - run: taskctl build
        env:
          # TF Linting and Validation
          TF_FILE_LOCATION: deploy/aws/app/kube
          # Testing
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_ORG: amido
          SONAR_URL: "https://sonarcloud.io"
          SONAR_PROPERTIES: '/d:sonar.cs.opencover.reportsPaths="/app/coverage/*.opencover.xml" /d:sonar.exclusions="**/*Tests" /d:sonar.coverage.exclusions="**/*Tests"'
          PROJECT_NAME: stacks-dotnet
          BUILD_BUILDNUMBER: 0.0.${{env.GITHUB_RUN_NUMBER}}
          # Dotnet Build
          SELF_REPO_SRC: src/api
          # Docker
          DOCKER_CONTAINER_REGISTRY_NAME: ${{ env.DOCKER_REGISTRY_NAME }}
          ECR_REGION: ${{ env.REGION }}
          # AWS ECR Authorisation
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.REGION }}
      - name: Publish Functional Tests
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.FUNCTIONAL_TESTS_ARTEFACT_NAME }}
          path: ${{ env.FUNCTIONAL_TESTS_SRC_DIR }}

  AppInfraDev:
    if: github.ref != 'refs/heads/master' && github.ref != 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment: nonprod
    steps:
      - uses: actions/checkout@v3
      - uses: ./build/github/templates/install-taskctl
      - run: taskctl infrastructure # TODO: This is tactical, will require refactor of task to take arguments as separate var
        env:
          ENV_NAME: nonprod
          # AWS Environmental Config
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.REGION }}
          # Terraform Backend Configuration
          AWS_TF_STATE_BUCKET: ${{ secrets.AWS_TF_STATE_BUCKET }}
          AWS_TF_STATE_DYNAMOTABLE: ${{ secrets.AWS_TF_STATE_DYNAMOTABLE }}
          AWS_TF_STATE_ENCRYPTION: ${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          AWS_TF_STATE_KEY: ${{ secrets.AWS_TF_STATE_KEY }}
          AWS_TF_STATE_REGION: ${{ secrets.AWS_TF_STATE_REGION }}
          TF_FILE_LOCATION: deploy/aws/app/kube
          TF_BACKEND_ARGS: region=${{ secrets.AWS_TF_STATE_REGION }},access_key=${{ secrets.AWS_ACCESS_KEY_ID }},secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},bucket=${{ secrets.AWS_TF_STATE_BUCKET }},key=${{ secrets.AWS_TF_STATE_KEY }},dynamodb_table=${{ secrets.AWS_TF_STATE_DYNAMOTABLE }},encrypt=${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          # Terraform Resource Configuration
          TF_VAR_name_environment: "nonprod"
          TF_VAR_region: ${{ env.REGION }}
          TF_VAR_docker_image_name: ${{ env.DOCKER_IMAGE_NAME }}
          TF_VAR_create_docker_repositories: true # Required for one environment per AWS account
          TF_VAR_stage: "nonprod"
          TF_VAR_name_company: ${{ env.COMPANY }}
          TF_VAR_name_project: ${{ env.PROJECT }}
          TF_VAR_name_component: "{{ env.COMPONENT }}"

  DeployDev:
    if: github.ref != 'refs/heads/master' && github.ref != 'refs/heads/main'
    needs: AppInfraDev
    runs-on: ubuntu-latest
    environment: nonprod
    steps:
      - uses: actions/checkout@v3
      - name: Install TaskCTL
        uses: ./build/github/templates/install-taskctl
      - name: Download Functional Tests
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.FUNCTIONAL_TESTS_ARTEFACT_NAME }}
          path: ${{ env.FUNCTIONAL_TESTS_RUN_DIR }}
      - name: TaskCTL Deploy
        run: taskctl deploy
        env:
          ENV_NAME: nonprod
          # AWS Environmental Config
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.REGION }}
          # Terraform Backend Configuration (for outputs)
          AWS_TF_STATE_BUCKET: ${{ secrets.AWS_TF_STATE_BUCKET }}
          AWS_TF_STATE_DYNAMOTABLE: ${{ secrets.AWS_TF_STATE_DYNAMOTABLE }}
          AWS_TF_STATE_ENCRYPTION: ${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          AWS_TF_STATE_KEY: ${{ secrets.AWS_TF_STATE_KEY }}
          AWS_TF_STATE_REGION: ${{ secrets.AWS_TF_STATE_REGION }}
          TF_FILE_LOCATION: deploy/aws/app/kube
          TF_BACKEND_ARGS: region=${{ secrets.AWS_TF_STATE_REGION }},access_key=${{ secrets.AWS_ACCESS_KEY_ID }},secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},bucket=${{ secrets.AWS_TF_STATE_BUCKET }},key=${{ secrets.AWS_TF_STATE_KEY }},dynamodb_table=${{ secrets.AWS_TF_STATE_DYNAMOTABLE }},encrypt=${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          # Terraform Resource Configuration
          TF_VAR_name_environment:  "nonprod"
          TF_VAR_region: ${{ env.REGION }}
          TF_VAR_docker_image_name: ${{ env.DOCKER_IMAGE_NAME }}
          TF_VAR_stage: "nonprod"
          TF_VAR_name_company: ${{ env.COMPANY }}
          TF_VAR_name_project: ${{ env.PROJECT }}
          TF_VAR_name_component: "{{ env.COMPONENT }}"
          # K8S Target Configuration
          K8S_CLUSTER_TARGET: "ensono-stacks-nonprod-ew2-eks"  # TODO: To be read from core state
          K8S_CLUSTER_IDENTIFIER: "${{ env.REGION }}" # TODO: To be read from core state
          K8S_INGRESS_CERT_ARN: "TBC"
          NAMESPACE: "${{ env.RESOURCE_DEF_NAME }}"
          # K8S Additional Deploy-Templater temporary var substitutions (should be from TF outputs and per env)
          CLOUDWATCH_LOG_GROUP: “ensono-stacks-nonprod-ew2-eks-logs” # TODO: To be read from core state
          CLOUDWATCH_STREAM_PREFIX: "nonprod-${{ env.COMPONENT }}"
          DNS_BASE_DOMAIN: "nonprodaws.amidostacks.com" # TODO: To be read from core state
          # Functional Test Configuration
          FUNCTIONAL_TESTS_RUN_DIR: /app/tests # Must match RELATIVE path from repo root that artefact is downloaded to.
          BaseUrl: "https://nonprod-dev-netcore-api.nonprodaws.amidostacks.com/api/menu/"  # TODO: To be read from core state

      - name: Publish Manifest File
        uses: actions/upload-artifact@v3
        with:
          name: k8s_manifest_nonprod
          path: ${{ env.HELM_VALUE_FILE }}

  AppInfraProd:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v3
      - uses: ./build/github/templates/install-taskctl
      - run: taskctl infrastructure # TODO: This is tactical, will require refactor of task to take arguments as separate var
        env:
          ENV_NAME: prod
          # AWS Environmental Config
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.REGION }}
          # Terraform Backend Configuration
          AWS_TF_STATE_BUCKET: ${{ secrets.AWS_TF_STATE_BUCKET }}
          AWS_TF_STATE_DYNAMOTABLE: ${{ secrets.AWS_TF_STATE_DYNAMOTABLE }}
          AWS_TF_STATE_ENCRYPTION: ${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          AWS_TF_STATE_KEY: ${{ secrets.AWS_TF_STATE_KEY }}
          AWS_TF_STATE_REGION: ${{ secrets.AWS_TF_STATE_REGION }}
          TF_FILE_LOCATION: deploy/aws/app/kube
          TF_BACKEND_ARGS: region=${{ secrets.AWS_TF_STATE_REGION }},access_key=${{ secrets.AWS_ACCESS_KEY_ID }},secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},bucket=${{ secrets.AWS_TF_STATE_BUCKET }},key=${{ secrets.AWS_TF_STATE_KEY }},dynamodb_table=${{ secrets.AWS_TF_STATE_DYNAMOTABLE }},encrypt=${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          # Terraform Resource Configuration
          TF_VAR_name_environment:  "prod"
          TF_VAR_owner: ${{ env.OWNER }}
          TF_VAR_region: ${{ env.REGION }}
          TF_VAR_docker_image_name: ${{ env.DOCKER_IMAGE_NAME }}
          TF_VAR_stage: "prod"
          TF_VAR_name_company: ${{ env.COMPANY }}
          TF_VAR_name_project: ${{ env.PROJECT }}
          TF_VAR_name_component: "{{ env.COMPONENT }}"

  DeployProd:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    needs: AppInfraProd
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v3
      - name: Install TaskCTL
        uses: ./build/github/templates/install-taskctl
      - name: Download Functional Tests
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.FUNCTIONAL_TESTS_ARTEFACT_NAME }}
          path: ${{ env.FUNCTIONAL_TESTS_RUN_DIR }}
      - name: TaskCTL Deploy
        run: taskctl deploy
        env:
          ENV_NAME: prod
          # AWS Environmental Config
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.REGION }}
          # Terraform Backend Configuration (for outputs)
          AWS_TF_STATE_BUCKET: ${{ secrets.AWS_TF_STATE_BUCKET }}
          AWS_TF_STATE_DYNAMOTABLE: ${{ secrets.AWS_TF_STATE_DYNAMOTABLE }}
          AWS_TF_STATE_ENCRYPTION: ${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          AWS_TF_STATE_KEY: ${{ secrets.AWS_TF_STATE_KEY }}
          AWS_TF_STATE_REGION: ${{ secrets.AWS_TF_STATE_REGION }}
          TF_FILE_LOCATION: deploy/aws/app/kube
          TF_BACKEND_ARGS: region=${{ secrets.AWS_TF_STATE_REGION }},access_key=${{ secrets.AWS_ACCESS_KEY_ID }},secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }},bucket=${{ secrets.AWS_TF_STATE_BUCKET }},key=${{ secrets.AWS_TF_STATE_KEY }},dynamodb_table=${{ secrets.AWS_TF_STATE_DYNAMOTABLE }},encrypt=${{ secrets.AWS_TF_STATE_ENCRYPTION }}
          # Terraform Resource Configuration
          TF_VAR_name_environment:  "prod"
          TF_VAR_owner: ${{ env.OWNER }}
          TF_VAR_region: ${{ env.REGION }}
          TF_VAR_docker_image_name: ${{ env.DOCKER_IMAGE_NAME }}
          TF_VAR_stage: "prod"
          TF_VAR_name_company: ${{ env.COMPANY }}
          TF_VAR_name_project: ${{ env.PROJECT }}
          TF_VAR_name_component: "{{ env.COMPONENT }}"
          # K8S Target Configuration
          K8S_CLUSTER_TARGET: "ensono-stacks-nonprod-ew2-eks"  # TODO: To be read from core state
          K8S_CLUSTER_IDENTIFIER: "${{ env.REGION }}" # TODO: To be read from core state
          K8S_INGRESS_CERT_ARN: "TBC"  # TODO: To be read from core state
          NAMESPACE: "${{ env.RESOURCE_DEF_NAME }}"
          # K8S Additional Deploy-Templater temporary var substitutions (should be from TF outputs and per env)
          CLOUDWATCH_LOG_GROUP: “ensono-stacks-prod-ew2-eks-logs” # TODO: To be read from core state
          CLOUDWATCH_STREAM_PREFIX: "prod-${{ env.COMPONENT }}"
          DNS_BASE_DOMAIN: "prodaws.amidostacks.com" # TODO: To be read from core state
          # Functional Test Configuration
          FUNCTIONAL_TESTS_RUN_DIR: /app/tests # Must match RELATIVE path from repo root that artefact is downloaded to.
          BaseUrl: "https://prod-dev-netcore-api.prodaws.amidostacks.com/api/menu/"  # TODO: To be read from core state

      - name: Publish Manifest File
        uses: actions/upload-artifact@v3
        with:
          name: k8s_manifest_prod
          path: ${{ env.HELM_VALUE_FILE }}
